# Ignore dependencies
/node_modules

# Ignore built files
/dist
/*.map

# Ignore local development environment
/.env.local
/.env.*.local

# Ignore Log files and runtime data
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log
*.log.*
*.pid
*.seed
*.pid.lock
*.log
.npm
.pnp
.lock
lib-cov
coverage
.eslintcache
.nyc_output
.build
/.serverless
.env

# Ignore build output files
/build

# Ignore IDE and editor-specific files
/.idea
/.vscode

# Ignore test and coverage files
/coverage

# Ignore production configuration
/prod.env
